﻿<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> KURUMSAL </h3>
                    <ul>
                        <li> <a href="Hakkimizda"> Hakkımızda </a> </li>
                        <li> <a href="Organizasyonlar"> Organizasyonlar </a> </li>
                        <li> <a href="Istatistikler"> İstatistikler </a> </li>
                        <li> <a href="GVOneriler"> Görüş Ve Öneriler </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> İŞ ARAYAN </h3>
                    <ul>
                        <li> <a href="AIGPRrogrami"> Aktif İş Gücü Programı </a> </li>
                        <li> <a href="IssizlikS"> İşsizlik Sigortası </a> </li>
                        <li> <a href="IVMdanismanligi"> İş Ve Meslek Danışmanlığı</a> </li>  
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> İŞ VEREN </h3>
                    <ul>
                        <li> <a href="IsbasiE"> İşbaşı Eğitimi </a> </li>
                        <li> <a href="EngelliI"> Engelli İstihdamı </a> </li>
                        <li> <a href="YurtdisiI"> Yurtdışı İstihdamı </a> </li>
                        
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> İLETİŞİM </h3>
                    <ul>
                        <li> <a href="Iletisim"> İletişim Bilgileri </a> </li>
                    </ul>
                 
                </div>
               
            </div>
       
        </div>
        
    </div>
    

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer 2019. All right reserved. </p>
            <div class="pull-right">
               
            </div>
        </div>
    </div>
   
</footer>