﻿
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/Sayfalar/Anasayfa">İŞBUL</a>
        </div>
        <a href="#"><img class="img-responsive" src="~/resimler/simge.jpg" alt="" width="50" height="50" /></a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="~/Sayfalar/Anasayfa">ANASAYFA</a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">KURUMSAL <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="~/Sayfalar/Hakkimizda">Hakkımızda</a>
                        </li>
                        <li>
                            <a href="~/Sayfalar/Organizasyonlar">Organizasyonlar</a>
                        </li>
                        <li>
                            <a href="~/Sayfalar/Istatistikler">İstatistikler</a>
                        </li>
                        <li>
                            <a href="~/Sayfalar/GVOneriler">Görüş Ve Öneriler</a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">İŞ ARAYAN  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="~/Sayfalar/AIGProgrami">Aktif İş Gücü Programı</a>
                        </li>
                        <li>
                            <a href="~/Sayfalar/IssizlikS">İşsizlik Sigortası </a>
                        </li>
                        <li>
                            <a href="~/Sayfalar/IVMDanismanligi">İş Ve Meslek Danışmanlığı</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">İŞ VEREN  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="~/Sayfalar/IsbasiE">İşbaşı Eğitimi</a>
                        </li>
                        <li>
                            <a href="~/Sayfalar/EngelliI">Engelli İstihdamı</a>
                        </li>
                        <li>
                            <a href="~/Sayfalar/YurtdisiI">Yurtdışı İstihdamı</a>
                        </li>


                    </ul>

                </li>
                <li>
                    <a href="~/Sayfalar/Iletisim">İLETİŞİM</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">İLANLAR  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="~/IlanlarTbls/Index">İlanlar</a>
                        </li>
                        <li>
                            <a href="~/IlanlarTbls/Create">İlan Ver</a>
                        </li>
                    </ul>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">İŞLEMLER  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="~/GirisSayfasi/GirisS">GİRİŞ</a>
                        </li>
                        <li>
                            <a href="~/Kullanicilars/Create">KAYIT OL</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CikisYap","GirisSayfasi")">ÇIKIŞ YAP</a>
                        </li>
                    </ul>
                </li>
               

</div>

    </div>
   
</nav>

