﻿@model WebTasarimOdevi.Models.IlanlarTbl

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IlanlarTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoyAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoyAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArananMeslek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArananMeslek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EgitimDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EgitimDurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sehir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sehir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SirketAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SirketAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTanimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTanimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailAdresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailAdresi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
