﻿@model WebTasarimOdevi.Models.IlanlarTbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IlanlarTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoyAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoyAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArananMeslek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArananMeslek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EgitimDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EgitimDurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sehir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sehir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SirketAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SirketAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTanimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTanimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailAdresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailAdresi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KullaniciID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
