﻿@model IEnumerable<WebTasarimOdevi.Models.IlanlarTbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoyAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArananMeslek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EgitimDurumu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sehir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SirketAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTanimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailAdresi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoyAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArananMeslek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EgitimDurumu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sehir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SirketAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTanimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailAdresi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KullaniciID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KullaniciID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KullaniciID })
        </td>
    </tr>
}

</table>
