﻿
@{
    ViewBag.Title = "AIGProgrami";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="container"><h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>

<div class="container">
    <h2><b>AKTİF İŞ GÜCÜ PROGRAMI</b></h2>
</div>
<center><a href="#"><img class="img-responsive" src="~/resimler/ai1.jpg" alt="" width="400" height="400" /></a></center>
<br /><br />

<div class="container" style="font-size:16pt">
    <p>
        Türkiye İş Kurumu tarafından istihdamın korunmasına ve artırılmasına, işsizlerin mesleki niteliklerinin geliştirilmesine, işsizliğin azaltılmasına ve özel politika gerektiren grupların işgücü piyasasına kazandırılmasına yardımcı olmak üzere aktif işgücü hizmetleri kapsamında mesleki eğitim kursları, işbaşı eğitim programları, girişimcilik eğitim programları, toplum yararına programlar ve diğer kurs, program, proje ve özel uygulamalar düzenlenmektedir.
        Türkiye çapında 81 Çalışma ve İş Kurumu İl Müdürlüğü tarafından gerçekleştirilen İşgücü Piyasası İhtiyaç Analizleri sonucunda o ilde en çok ihtiyaç duyulan meslekler tespit edilmekte ve bu mesleklerde kurs/program düzenlemek amacıyla Çalışma ve İş Kurumu İl Müdürlükleri tarafından Yıllık İşgücü Eğitim Planları hazırlanmaktadır.
        Kurum tarafından sunulan aktif işgücü hizmetlerinden yararlanmak isteyen kayıtlı işsizlere Çalışma ve İş Kurumu İl Müdürlükleri/Hizmet Merkezlerinde görev yapan 4.000’e yakın iş ve meslek danışmanı tarafından danışmanlık hizmeti verilmektedir. İş ve meslek danışmanlarının bu hizmeti ile işsizler kendilerine en uygun kurs/programa katılma imkânına sahip olmaktadır.
    </p>
</div>
<br /><br /><br />

<div class="container">
    <h2><b>İŞKUR’UN AKTİF İŞGÜCÜ PROGRAMLARI KAPSAMINDA TEMEL FAALİYETLERİ</b></h2>
</div>
<center><a href="#"><img class="img-responsive" src="~/resimler/ai2.jpg" alt="" width="500" height="500" /></a></center>
<br /><br />
<div class="container" style="font-size:16pt">
    <p>
        -Mesleki Eğitim Kursları
        <br />-Girişimcilik Eğitim Programları
        <br />-İşbaşı Eğitim Programları
        <br />Toplum Yararına Programlar
        <br /> <br />
        <br />Bunlara ek olarak İŞKUR;
        <br />-Çalışanların Mesleki Eğitimi
        <br />-Özel Politika ve Uygulamalar
        <br />-Korumalı İşyerleri Projesi
        <br />-Engelli ve Eski Hükümlüye Kendi İşini Kurma Desteği
        <br />-Engellinin İş Bulmasını Sağlayacak Destek Teknolojilerine İlişkin Projeler
        <br />Engellinin İşe Yerleştirilmesi, İşe ve İşyerine Uyumunun Sağlanmasına Yönelik Projeler
        <br />Engellilerin İstihdam Edilebilirliklerini Artırmayı Amaçlayan Mesleki Eğitim ve              Rehabilitasyon Projeleri yürütmektedir.

    </p>
</div>
<br /><br /><br />
<div class="container">
    <h2><b>KARŞILANAN GİDERLER VE DERLEMELER</b></h2>
</div>
<br /><br />
<div class="container" style="font-size:16pt">
    <p>
        Düzenlenen faaliyetlere katılanlardan herhangi bir ad altında, herhangi bir ücret ya da katkı alınmamaktadır. Faaliyetlere ilişkin tüm giderler İŞKUR tarafından karşılanmaktadır. Ayrıca faaliyetlerden yararlananlara eğitim ya da katılım süresince yol yemek gibi zorunlu ihtiyaçlarını karşılamaları amacıyla ödemeler (günlük 20-61,65 TL) yapılmaktadır. Toplum Yararına Programlarda ise bu ödemeler asgari ücret düzeyinde olmaktadır.
        Kurslara katılanlara, öncelikle uluslararası geçerliliği olan mesleki yeterlilik belgesi verilmektedir. Bunun mümkün olmadığı durumlarda ise Milli Eğitim Bakanlığı veya Üniversite onaylı kurs bitirme belgesi veya sertifikası verilmektedir.
        Eğitim alan işsizler, eğitim aldıkları meslek ve açık iş durumuna göre özel sektör işyerlerinde istihdam edilmektedirler.
        İşbaşı eğitim programlarına katılanlara İşbaşı Eğitim Programı Sertifikası; girişimcilik eğitim programlarına katılanlara ise KOSGEB tarafından girişimcilere yönelik olarak sağlanan desteklerden yararlanabilme olanağı veren Girişimcilik Eğitimi Katılım Belgesi verilmektedir.
    </p> </div>