﻿@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<div class="container"><h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"><h2>Anasayfa</h2></div>
<br /><br /><br />
<div class="w3-content w3-display-container" style="border-style:dotted">
    <img class="mySlides" src="~/resimler/resim1.jpg" width="100%" height="650">
    <img class="mySlides" src="~/resimler/resim2.jpg" width="100%" height="650">
    <img class="mySlides" src="~/resimler/resim3.jpg" width="100%" height="650">
    <img class="mySlides" src="~/resimler/resim4.jpg" width="100%" height="650">
    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>

<br /><br /><br />
            <div class="container">
                <center><h1>ISBUL NEDİR?</h1></center>
                <center>
                    <p style="font-size:12pt">
                        İŞBUL sitesi tüm iş veren ve iş arayanlar için tasarlanmış bir platformdur. Burada dilerseniz iş ilanlarınızı paylaşabilir ya da kendinize uygun iş ilanları içerisinden istediğinize hızlıca başvurabilirsiniz. Arama ekranından iş aradığınız şehri ve mesleği işaretleyerek size uygun bir listeleme yapabilirsiniz. Sadece Tüek vatandaşı olanlar için değil ayrıca yabancı vatandaşlar da sitemizden yararlanabilmektedir. Amacımız iş imkanlarının kısıtlı olduğu bu devirde bu imkanları bir araya toplayıp önünüze sunarak hepsine hızlıca erişmenizi sağlamaktır.
                    </p>
                </center>
                <br /><br /><br />
                <center>
                    <h1>İSTATİSTİKLER</h1>
                    <p>
                        <b> Türkiye İstatistik Kurumu (TÜİK):</b> <br /><br />2018 yılı Temmuz dönemi İşgücü İstatistikleri'ni açıkladı.Türkiye genelinde 15 ve daha yukarı yaştakilerde işsiz sayısı 2018 yılı Temmuz döneminde geçen yılın aynı dönemine göre 88 bin kişi artarak 3 milyon 531 bin kişi oldu.
                        İşsizlik oranı 0,1 puanlık artış ile yüzde 10,8 seviyesinde gerçekleşti. Aynı dönemde; tarım dışı işsizlik oranı 0,1 puanlık azalış ile yüzde 12,9 olarak tahmin edildi. Genç nüfusta (15-24 yaş) işsizlik oranı 1,2 puanlık azalış ile yüzde 19,9 olurken,15-64 yaş grubunda bu oran 0,1 puanlık artış ile yüzde 11 olarak gerçekleşti.
                        İstihdam oranı yüzde 48,2 oldu
                        İstihdam edilenlerin sayısı 2018 yılı Temmuz döneminde, bir önceki yılın aynı dönemine göre 507 bin kişi artarak 29 milyon 265 bin kişi, istihdam oranı ise 0,2 puanlık artış ile yüzde 48,2 oldu.
                        Bu dönemde, tarım sektöründe çalışan sayısı 247 bin kişi azalırken, tarım dışı sektörlerde çalışan sayısı 755 bin kişi arttı. İstihdam edilenlerin yüzde 19,7’si tarım, yüzde 19,5’i sanayi, yüzde 6,9’u inşaat, yüzde 53,9’u ise hizmet sektöründe yer aldı. Önceki yılın aynı dönemi ile karşılaştırıldığında tarım sektörünün istihdam edilenler içindeki payı 1,2 puan, inşaat sektörünün payı 0,7 puan azalırken, sanayi sektörünün payı 0,8 puan, hizmet sektörünün payı 1,1 puan arttı.
                        İşgücüne katılma oranı yüzde 54 olarak gerçekleşti
                        İşgücü 2018 yılı Temmuz döneminde bir önceki yılın aynı dönemine göre 596 bin kişi artarak 32 milyon 796 bin kişi, işgücüne katılma oranı ise 0,3 puan artarak yüzde 54 olarak gerçekleşti. Aynı dönemler için yapılan kıyaslamalara göre; erkeklerde işgücüne katılma oranı 0,3 puanlık artışla yüzde 73,8, kadınlarda ise 0,4 puanlık artışla yüzde 34,7 olarak gerçekleşti.
                        Kayıt dışı çalışanların oranı yüzde 34,3 olarak gerçekleşti
                        Temmuz 2018 döneminde herhangi bir sosyal güvenlik kuruluşuna bağlı olmadan çalışanların oranı, bir önceki yılın aynı dönemine göre 0,9 puan azalarak yüzde 34,3 olarak gerçekleşti. Tarım dışı sektörde kayıt dışı çalışanların oranı ise bir önceki yılın aynı dönemine göre değişim göstermeyerek yüzde 22,2 oldu.
                        Mevsim etkilerinden arındırılmış istihdam azaldı, işsizlik arttı
                        Mevsim etkilerinden arındırılmış istihdam bir önceki döneme göre 6 bin kişi azalarak 28 milyon 733 bin kişi olarak tahmin edildi. İstihdam oranı değişim göstermeyerek yüzde 47,4 oldu. Mevsim etkilerinden arındırılmış işsiz sayısı bir önceki döneme göre 53 bin kişi artarak 3 milyon 562 bin kişi olarak gerçekleşti. İşsizlik oranı 0,1 puan artarak yüzde 11 oldu.
                        Mevsim etkilerinden arındırılmış işgücüne katılma oranı bir önceki döneme göre değişim göstermeyerek yüzde 53,2 olarak gerçekleşti. Ekonomik faaliyete göre istihdam edilenlerin sayısı, sanayi sektöründe 34 bin, inşaat sektöründe 52 bin kişi azalırken, tarım sektöründe 3 bin, hizmet sektöründe 77 bin kişi arttı.
                    </p>
                </center>
                <br /><br /><br />
            </div>
