﻿
@{
    ViewBag.Title = "EngelliI";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>



<div class="container" style="font-size:12pt">
    <center><a href="#"><img class="img-responsive" src="~/resimler/engelli1.png" alt="" width="650" height="650" /></a></center>
    <br />
    <p>
        Özel sektör işverenlerinin kontenjan dâhilinde veya kontenjan fazlası olarak ya da yükümlü olmadıkları halde engelli çalıştırmaları durumunda işverenlerin bu şekilde çalıştırdıkları her bir engelli için asgari ücret düzeyindeki sosyal güvenlik primi işveren paylarının tamamı (416,05 TL) Hazinece karşılanması şeklinde değiştirilmiştir.
    </p>

    <h3>Engellilerin İŞKUR’a kaydı  </h3>

    <p>
        Engel durumuna göre tüm vücut fonksiyon kayıplarının en az %40’ından yoksun olduklarını, yetkili sağlık kuruluşlarından alacakları engelli sağlık kurulu raporu ile belgeleyen vatandaşlarımız Kurum İl Müdürlüklerine/ Hizmet Merkezlerine başvurarak “engelli” statüsünde kayıt yaptırabilir.
    </p>
    <p>
        Meslekte çalışma güç kaybı oranı vb. oranlar dikkate alınmamakta olup tüm vücut fonksiyon kaybı oranına bakılmaktadır.
    </p>
    <p>
        Engelli sağlık raporunda çalışamaz ifadesi yer alıyorsa kişinin engelli kaydı yapılmamaktadır.
    </p>

    <h3>İlgili Mevzuat</h3>

    <p>
        Türkiye’de engellilerin işçi olarak istihdamı, 4857 sayılı İş Kanununun 30 uncu maddesinde öngörülen kota sistemi ile sağlanmaya çalışılmaktadır.
    </p>
    <p>
        4857 sayılı İş Kanununun 30 uncu maddesinde öngörülen kota sistemi kapsamında:
        <ul>
            <li>
                50 veya daha fazla işçi(tarım ve orman işletmelerinde 51 veya daha 	fazla) çalıştırdıkları;
            </li>
            <li>
                Özel sektör işyerlerinde % 3 engelli,
            </li>
            <li>
                Kamu işyerlerinde ise % 4 engelli ile % 2 eski hükümlü veya terörle 	mücadelede malul sayılmayacak şekilde yaralanan işçiyi meslek, beden 	ve ruhi durumlarına uygun işlerde çalıştırmakla yükümlüdürler.
            </li>
        </ul>
    </p>
    <p>
        (Kamu işyerlerinde engelli istihdamında EKPSS puanı gerekmektedir.)
    </p>

    <h3>Takip ve Denetim</h3>

    <p>
        4857 sayılı İş Kanunu’nun 30 uncu maddesi gereğince istihdamı zorunlu engelli kontenjanlarının takibi aylık olarak düzenli biçimde Çalışma ve İş Kurumu İl Müdürlüklerince yapılmaktadır. Engelli kontenjan açığı bulunan işverenlerle iletişime geçilerek alınan engelli işgücü talepleri Kurumun internet sayfasında yayımlanmakta ve açık kalan kontenjanların kapatılmasına gayret gösterilmektedir.
    </p>
    <p>
        Kanun hükmü gereğince, işverenlerin engelli işçileri meslek, beden ve ruhi durumlarına uygun işlerde çalıştırmakla yükümlü olmaları nedeniyle, işverenin talebine şartları tutarak başvuru yapan ve görüşmeye gelen engellileri işverenin uygun bulmayarak işe almaması veya engelli kontenjan açığı için talep vermeyerek yükümlülüğünü yerine getirmemesi durumunda ise işverene 4857 sayılı İş Kanununun 101 inci maddesine istinaden çalıştırmadığı her engelli ve çalıştırmadığı her ay için Çalışma ve İş Kurumu İl Müdürlüğünce 2018 yılında 2.627 TL idari para cezası uygulanmaktadır. Kamu kuruluşları da bu para cezasından hiçbir şekilde muaf tutulmamaktadır.
    </p>
    <p>
        Engelli işçi çalıştırmadığı için işverenlerden tahsil edilen ceza paraları; engellilerin kendi işini kurmaları, engellinin iş bulmasını sağlayacak destek teknolojileri, engellinin işe yerleştirilmesi,  işe ve işyerine uyumunun sağlanması ve bu gibi projelerde kullanılmaktadır.
    </p>
    <p>
        İŞKUR’a kayıt olarak iş arayan engellilere, iş ve meslek danışmalığı hizmetleri verilerek ya mesleki niteliklerini artırmak için kurs veya işbaşı eğitim programlarına yönlendirilmekte ya da durumlarına uygun işlere yerleştirilmeye çalışılmaktadır. Ayrıca, engellilerin kendi işlerini kurmaları da teşvik edilmektedir.
    </p>
</div>
