﻿
@{
    ViewBag.Title = "GVOneriler";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="container"><h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container">
    <form action="/action_page.php">
        <b>LÜTFEN GÖRÜŞ VEYA ÖNERİLERİNİZİ YAZINIZ:</b><br>
        <textarea name="GVO" rows="10" cols="60">

</textarea>
        <br><br />
        <input type="submit" value="GÖNDER" />
    </form>
</div>