﻿
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="container"><h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>

<center><div class="container"><h3><b>  Aile, Çalışma ve Sosyal Hizmetler Bakanı Miray Çoban</b></h3> </div></center>

<div class="container" style="font-size:16pt">

    <center><a href="#"><img class="img-responsive" src="~/resimler/miray.jpg" alt="" width="400" height="400" /></a></center>
    <br /><br />
    <p>
        Göreve Başlama Tarihi: 10 Temmuz 2018
        1979 yılında Ordu’da doğdu. İ̇lk ve ortaöğretimi süresince sırasıyla İzmir, Siirt ve Giresun illerinde okuduktan sonra 1996 yılında Ankara Atatürk Anadolu Lisesi’nden mezun oldu.
        Türkiye 49.su olarak Bilkent Üniversitesi Ekonomi Bölümünü tam burslu olarak kazandı; İktisadi ve İdari Bilimler Fakülte üçüncüsü olarak mezun oldu. 2000 yılında Michigan Üniversitesi ekonomi doktorasına burslu olarak kabul edildi.
        Alan değiştirerek Teksas Üniversitesi’nde işletme doktorasına devam etti; araştırma görevlisi olarak işletme ve muhasebe dersleri verdi.
        Aynı üniversitede Muhasebe ve Enformasyon Sistemleri üzerine yüksek lisansını tamamladıktan sonra İslam İşbirliği Teşkilatı (İİT) Ankara Merkezi (SESRIC) İstatistik ve Enformasyon
    </p>
    <p>
        Departmanı’nda araştırmacı ve kıdemli araştırmacı olarak çalıştı.
        Toplumsal cinsiyet, demografi, iş gücü, çok boyutlu yoksulluk ölçümleri, eğitim ve inovasyon, bilgi performans sistemleri, bankacılık ve finans, kalkınma yardımları gibi çeşitli konularda veri tabanları, anketler ve raporlar hazırladı.
        2015 yılından beri İslam İşbirliği Teşkilatı İstatistik ve Enformasyon Direktörü olan Çoban, Sürdürülebilir Kalkınma Hedeflerine yönelik birçok projenin ve kapasite geliştirme programlarının koordinatörlüğünü üstlendi.
        İİT İstatistik Komisyonu çerçevesinde uluslararası kuruluşlar ile işbirliğini sağladı; uluslararası toplantılar düzenledi.
        Sivil toplum alanında da çeşitli faaliyetlerde bulunan Çoban, Kadın ve Demokrasi Derneği Ankara Temsilcisi ve Denetleme Kurulu üyesidir. İyi derecede İngilizce bilmektedir, evlidir.
    </p>
</div>
<br /><br />    <br /><br />
<center><div class="container" style="font-size:16pt">
    <h3><b>GENEL MÜDÜR DOĞUKAN MEMİ</b></h3> </div></center>

<div class="container" style="font-size:16pt">

    <center><a href="#"><img class="img-responsive" src="~/resimler/genelmudur.jpg" alt="" width="400" height="400" /></a></center>
    <br /><br />
    <p>

        Doğukan Memi, 1965 yılında Samsun'da doğdu. Lisans eğitimlerini İlahiyat ve İktisat Fakültelerinde, Yüksek Lisans eğitimini ise İktisat Anabilim Dalı programında tamamladı.
        Farklı kurumlarda, Öğretmen, İl Müdürü, Basın, Yayın ve Halkla İlişkiler Müdürü, Eğitim, Kültür ve Sosyal İşler Daire Başkanı ve Genel Müdür Yardımcılığı görevlerini gerçekleştiren MEMİ, halen İŞKUR Genel Müdürlüğü ve İŞKUR Yönetim Kurulu Başkanlığı  görevlerini yürütmektedir. İyi derecede İngilizce ve Arapça bilmektedir.

    </p>
</div>
<br /><br />    <br /><br />
<center><div class="container"><h3><b>TÜRKİYE İŞBUL KURUMU GENEL MÜDÜRLÜĞÜ ETİK KOMİSYONU YÖNETİCİSİ PINAR ELİGÜL </b></h3> </div></center>
<div class="container" style="font-size:16pt">
    <center><a href="#"><img class="img-responsive" src="~/resimler/pinar.jpg" alt="" width="400" height="400" /></a></center>
    <br /><br />
          <p>

              ETİK KOMİSYONUNUN GÖREVLERİ:
              -Etik Kültürünü geliştirme,
              -Etik sorunlarla ilgili personele rehberlik etme,
              -Etik uygulamalarını değerlendirme,
              -Kamu Görevlileri Etik Kurulu ile işbirliği içinde çalışma.

              KAMU GÖREVLİLERİ ETİK SÖZLEŞMESİ:
              Kamu hizmetinin her türlü özel çıkarın üzerinde olduğu ve kamu görevlisinin 	halkın hizmetinde bulunduğu bilinç ve anlayışıyla;
              -Halkın günlük yaşamını kolaylaştırmak, ihtiyaçlarını en etkin, hızlı ve verimli 	biçimde karşılamak, hizmet kalitesini yükseltmek ve toplumun memnuniyetini 	artırmak için çalışmayı,
              -Görevimi insan haklarına saygı, saydamlık, katılımcılık, dürüstlük, hesap 	verebilirlik, kamu yararını gözetme ve hukukun üstünlüğü ilkeleri 	doğrultusunda yerine getirmeyi,
              -Dil, din, felsefi inanç, siyasi düşünce, ırk, yaş, bedensel engelli ve cinsiyet 	ayrımı yapmadan, fırsat eşitliğini engelleyici davranış ve uygulamalara meydan 	vermeden tarafsızlık içerisinde hizmet gereklerine uygun davranmayı,
              -Görevimi, görevle ilişkisi bulunan hiçbir gerçek veya tüzel kişiden hediye 	almadan, maddi ve manevi fayda veya bu nitelikte herhangi bir çıkar 	sağlamadan, herhangi bir özel menfaat beklentisi içinde olmadan yerine 	getirmeyi,
              -Kamu malları ve kaynaklarını kamusal amaçlar ve hizmet gerekleri dışında 	kullanmamayı ve kullandırmamayı, bu mal ve kaynakları israf etmemeyi,
              -Kişilerin dilekçe, bilgi edinme, şikayet ve dava açma haklarına saygılı 	davranmayı, hizmetten yararlananlara, çalışma arkadaşlarıma ve diğer 	muhataplarıma karşı ilgili, nazik, ölçülü ve saygılı hareket etmeyi,
              -Kamu Görevlileri Etik Kurulunca hazırlanan yönetmeliklerle belirlenen etik 	davranış ilke ve değerlerine bağlı olarak görev yapmayı ve hizmet sunmayı 	taahhüt ederim.

          </p>
    
    </div>
