﻿
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div class="container"><h1></h1></div>
<div class="container"> <h1></h1></div>
<h2>Iletisim</h2>



<div class="container">
    <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d327.05283355666836!2d30.32566350930828!3d40.74242513133526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd81085b5551312fd!2sBilgisayar+Ve+Bili%C5%9Fim+Bilimleri+Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1545647155795" width="600" height="450" frameborder="1" style="border:solid" allowfullscreen></iframe></center>
</div>

<center>
    <div class="container">
        <h3>İletişim Hattı</h3>
        111 1 111
    </div>
</center>
