﻿
@{
    ViewBag.Title = "IsbasiE";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>

<div class="container">
    <center><h2><b>İŞBAŞI EĞİTİM PROGRAMI</b></h2></center>

    <center><a href="#"><img class="img-responsive" src="~/resimler/isbasiegitim1.png" alt="" width="650" height="650" /></a></center>

    <div class="container" style="font-size:12pt">
        <p>
            "İşçinizi Kendiniz Yetiştirin"
        </p>
        <p>
            En az 2 sigortalı çalışanı olan işverenlerin yararlanabildiği program kapsamında çalışan sayınızın % 30’una kadar katılımcı talep edebilirsiniz. Programdan yararlanmak için en az % 50 istihdam taahhüdü verme ve katılımcıları en az program süresi kadar istihdam etme zorunluluğu bulunmaktadır.
        </p>
        <p>
            İşbaşı Eğitim Programı; bilişim ve imalat sektörlerindeki işyeri ve mesleklerde en fazla 6 ay, diğer sektörlerde ise en fazla 3 ay olarak uygulanmaktadır.
            Siber güvenlik, bulut bilişim, oyun geliştirme uzmanı ve kodlama gibi çağımızın ve geleceğin meslekleri olarak görülen alanlarda düzenlenecek olan işbaşı eğitim programlarına katılan 18-29 yaş arası gençler için işbaşı eğitim programlarının süresi 9 ay uygulanacaktır.
            Program günde en az 5 en fazla 8 saat olmak üzere ve haftada 6 günü aşmamak kaydıyla haftalık 45 saati geçmeyecek şekilde planlanabilir.
        </p>
        <p>
            Program süresince katılımcı zaruri gideri (günlük 61.65 TL, öğrenciler için 46.23 TL, işsizlik ödeneği alanlar için 30.82 TL) ve kısa vadeli sigorta prim giderleri İŞKUR tarafından karşılanmaktadır. Geleceğin meslekleri olarak belirlenecek mesleklerde düzenlenen programlarda katılımcılara 75 TL zaruri gider ödenecektir.
            Bu şekilde katılımcıyı işin başında görme imkânı bularak kendi ihtiyacınıza göre yetiştirebilir ve daha sonra istihdam ederek “Teşvikler” kısmında yer alan teşviklerden faydalanabilirsiniz.
            81 ilde bulunan Çalışma ve İş Kurumu İl Müdürlükleri ile hizmet merkezlerine istediğiniz zaman başvuru yaparak ayrıntılı bilgi alabilirsiniz.
        </p>
    </div>
</div>

