﻿
@{
    ViewBag.Title = "IssizlikS";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div class="container"><h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>

<div class="container">
    <h2><b>İŞSİZLİK SİGORTASI TANIMI</b></h2>
</div>
<center><a href="#"><img class="img-responsive" src="~/resimler/is.png" alt="" width="650" height="650" /></a></center>
<div class="container" style="font-size:12pt"><br /><br /><br />
    <p>
        Bir işyerinde çalışırken, çalışma istek, yetenek, sağlık ve yeterliliğinde olmasına rağmen, herhangi bir kasıt ve kusuru olmaksızın işini kaybeden sigortalılara işsiz kalmaları nedeniyle uğradıkları gelir kaybını belli süre ve ölçüde karşılayan, sigortacılık tekniği ile faaliyet gösteren zorunlu sigortayı ifade etmektedir.
    </p>
</div>
<div class="container">
    <h2><b>İŞSİZLİK SİGORTASI KAPSAMI</b></h2>
</div>

<div class="container" style="font-size:12pt">
    <p>
        -5510 sayılı Sosyal Sigortalar ve Genel Sağlık Sigortası Kanununun 4 üncü  maddesinin birinci fıkrasının (a) bendi ile ikinci fıkrası kapsamında olanlardan bir hizmet akdine dayalı olarak çalışan sigortalılar,
        -506 sayılı Sosyal Sigortalar Kanununun geçici 20 inci maddesinde açıklanan sandıklara tabi sigortalılar,
        -İstekleri halinde;
        4857 sayılı Kanuna göre kısmi süreli iş sözleşmesi ile çalışan sigortalılar,
        Ticari taksi, dolmuş ve benzeri nitelikteki şehir içi toplu taşıma aracı işyerleri   ile Kültür ve Turizm Bakanlığınca belirlenecek alanlarda kısmi süreli iş  sözleşmesiyle bir veya birden fazla kişi tarafından çalıştırılan ve çalıştıkları kişi yanında ay içerisinde çalışma gün sayısı 10 günden az olan kişiler.

    </p>
</div>
<br /><br /><br />
<div class="container">
    <h2><b>İŞSİZLİK SİGORTASI PRİM MİKTARI</b></h2>
</div>

<div class="container" style="font-size:12pt">
    <p>
        İşsizlik sigortası primi, sigortalının prime esas aylık brüt kazançların üzerinden hesaplanan % 1 sigortalı, % 2 işveren ve %1 Devlet payından oluşmaktadır. İsteğe bağlı işsizlik sigortası primi ödeyenlerden ise % 1 sigortalı ve % 2 işveren payı alınmaktadır
    </p>
</div>

