﻿
@{
    ViewBag.Title = "Istatistikler";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="container"><h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>

<div class="container"><h2>İSTATİSTİKLER</h2></div>

<div class="container"><h4><b>TÜRLERİNE GÖRE İŞSİZLİK ORANI</b></h4></div>
<center><a href="#"><img class="img-responsive" src="~/resimler/ist1.jpg" alt="" width="650" height="650" /></a></center>
<div class="container" style="font-size:12pt">
    <p>
        Toplam işgücü nasıl bulunur ; Aktif nüfus içerisinden çalışmak istemeyenleri, askerlik hizmetini yapanları, engelli olanları, ev hanımları, öğrenciler ve mahkumların çıkarılması; çocuk işçileri ve 65 üstü çalışanlar eklenirse toplam işgücü bulunur.
        Eksik İstihdam nedir?: Kısaca, çalışanların işlerinden memnun olmamaları ya da yeteneklerinin altında bir işte çalışmalarına denir. İşsizlik türleri şöyle sıralanabilinir;
        <br /><br /><b>Friksiyonel- Arizi- Geçici İşsizlik:</b>  Kişilerin yer ya da meslek değiştirmesi sonucu veya mezun olduktan sonra iş buluncaya kadar geçen sürede ortaya çıkan işsizliktir.
        <br /><br /><b>Yapısal İşsizlik:</b>  Çalışanların toplam talepte ve teknolojide meydana gelen değişmelere uyum sağlayamaması sonucu oluşan işsizliktir.
        <br /><br /><b>Konjonktürel (Devrevi) İşsizlik:</b>  Toplam talebi tam istihdam karşılamada yetersiz olduğu durumda ortaya çıkan işsizliktir.
        <br /><br /><b>Gizli İşsizlik:</b>   Üretim sürecine katıldıkları halde üretime katkıları olmayan yani marjinal verimlilikleri “0” olan kişilerin oluşturduğu işsizliktir.
        <br /><br /><b>Mevsimsel İşsizlik:</b>  Yılın belli dönemlerinde çalışıp belli dönemlerinde işsiz kalan kişilerin oluşturduğu işsizliktir.
        <br /><br /><b>Teknolojik İşsizlik:</b>  İş gücü yerine makinaların kullanılması sonucu oluşan işsizliktir.
        <br /><br /><b> Bölgesel İşsizlik:</b>  Belli bir bölgenin ya da çevrenin cazibesini kaybetmesi sonucu oluşan işsizliktir.
        <br /><br /><b> Doğal İşsizlik:</b>  Bir ekonomide friksiyonel ve yapısal işsizliğin toplamda oluşan tam istihdam düzeyindeki enflasyonu hızlandırmayan işsizlik oranına doğal işsizlik oranı denir.
    </p>
</div>
<br /><br /><br /><br />
<div class="container"><h4><b>İŞBULA KAYITLI İŞSİZLİK SAYISI</b></h4></div>
<center><a href="#"><img class="img-responsive" src="~/resimler/ist2.jpg" alt="" width="650" height="650" /></a></center>
<div class="container" style="font-size:12pt">
    <p>
        Ülkemizin bir numaralı ve en önemli ulusal sorunu işsizliktir. İşsizliği azaltmak ve ortadan kaldırmak, verimli istihdamı geliştirmek ülkemizin başlıca gündem maddesidir.
        İşsizliğin çözümü için KOSGEB, İŞKUR, Çalışma ve Sosyal Güvenlik Bakanlığı, Ekonomi Bakanlığı gibi kamu kurumlarına büyük görevler düşmektedir. Asgari ücret  açlık sınırının üzerine çıkarılmalı ve mesleki eğitimler arttırılmalıdır. Mevcut ve potansiyel tarım, sanayi ve hizmet üretiminde azami katma değer ve EBİT (vergi ve faiz öncesi kazanç) oluşturarak yaratılacak tasarrufları yeni yatırımlara yöneltmektedir.
        Bu işlevin lokomotifi, hiç şüphesiz girişimci işverenler olacaktır. O halde büyük-küçük her türlü işletmeyi kuran işveren sayısını artıracak bir seferberlik anlayışını geliştirmekle işe başlamak gereklidir. Global dünyanın bugünkü acımasız rekabet ortamında görev yapan girişimcilerin ve onların eseri olan işletmelerin; öncelikle kamu yönetiminin, devletin her kademesindeki bürokrasi kadrolarının, siyasi partilerin, üniversitelerin, finans sektörünün, medyanın, sivil toplum örgütlerinin ve tüm halkımızın desteğine ihtiyacı vardır.
        İşsizliğin çözümü için neler yapılabilir noktasında belki de herkesçe bilinen birkaç konuya değinmek istiyorum <br /><br />
        Öncelikle yatırımların, özellikle de kamu altyapı yatırımlarının artırılarak istihdamın artırılması gerekir. Çünkü kamu yatırımlarının artırılması ekonomik aktiviteyi canlandıracaktır.
        Özel sektör yatırımlarının teşvik edilmesi gerekmektedir ki bu yılın başlarında açıklanan teşvik paketi ile de bu alanda önemli adımlar atılmıştır. Cumhuriyet tarihinin bu en kapsamlı teşvik paketinin ekonomik sonuçları bir süre sonra kendisini göstermeye başlayacaktır.
        İstihdam üzerinden alınan vergi, prim ve işveren payı gibi mali yükler düşürülmelidir. Bu yolla kayıt dışı işsizliğin en az yarısı kayıt altına alınır. Bu durum da kuşkusuz ki yeni istihdam oluşturacak yatırımları teşvik edecektir.
        Tarımdan tarım dışı alana yönelecek olan kesime daha kolay iş bulabilmek amacıyla mesleki eğitime daha fazla önem verilmelidir.
        Sonuç olarak; işsizliğin daha uzun yıllar gündemde kalacağını, hiç bir zaman sıfırlanamayacağını, işsizlik oranlarının zamanla ekonomik gelişmeye paralel olarak azalabileceğini söyleyebiliriz.
        Bu nedenle yukarıda belirtilenlerin yanı sıra bu aşamada yaşam standartlarının iyileştirilmesi ve işsizliğin toplumsal bir soruna yol açmaması açısından sosyal politikalara önem verilmelidir.
    </p>
</div><br /><br /><br /><br />
<div class="container"><h4><b>OCAK VE HAZİRAN DÖNEMİ İSTATİSTİKLERİ</b></h4></div><br />
<center><a href="#"><img class="img-responsive" src="~/resimler/ist3.jpg" alt="" width="650" height="650" /></a></center>
<br /> <br />
<div class="container" style="font-size:12pt">

    <p>
        <b> Türkiye İstatistik Kurumu (TÜİK):</b> <br /><br />2018 yılı Temmuz dönemi İşgücü İstatistikleri'ni açıkladı.Türkiye genelinde 15 ve daha yukarı yaştakilerde işsiz sayısı 2018 yılı Temmuz döneminde geçen yılın aynı dönemine göre 88 bin kişi artarak 3 milyon 531 bin kişi oldu.
        İşsizlik oranı 0,1 puanlık artış ile yüzde 10,8 seviyesinde gerçekleşti. Aynı dönemde; tarım dışı işsizlik oranı 0,1 puanlık azalış ile yüzde 12,9 olarak tahmin edildi. Genç nüfusta (15-24 yaş) işsizlik oranı 1,2 puanlık azalış ile yüzde 19,9 olurken,15-64 yaş grubunda bu oran 0,1 puanlık artış ile yüzde 11 olarak gerçekleşti.
        İstihdam oranı yüzde 48,2 oldu
        İstihdam edilenlerin sayısı 2018 yılı Temmuz döneminde, bir önceki yılın aynı dönemine göre 507 bin kişi artarak 29 milyon 265 bin kişi, istihdam oranı ise 0,2 puanlık artış ile yüzde 48,2 oldu.
        Bu dönemde, tarım sektöründe çalışan sayısı 247 bin kişi azalırken, tarım dışı sektörlerde çalışan sayısı 755 bin kişi arttı. İstihdam edilenlerin yüzde 19,7’si tarım, yüzde 19,5’i sanayi, yüzde 6,9’u inşaat, yüzde 53,9’u ise hizmet sektöründe yer aldı. Önceki yılın aynı dönemi ile karşılaştırıldığında tarım sektörünün istihdam edilenler içindeki payı 1,2 puan, inşaat sektörünün payı 0,7 puan azalırken, sanayi sektörünün payı 0,8 puan, hizmet sektörünün payı 1,1 puan arttı.
        İşgücüne katılma oranı yüzde 54 olarak gerçekleşti
        İşgücü 2018 yılı Temmuz döneminde bir önceki yılın aynı dönemine göre 596 bin kişi artarak 32 milyon 796 bin kişi, işgücüne katılma oranı ise 0,3 puan artarak yüzde 54 olarak gerçekleşti. Aynı dönemler için yapılan kıyaslamalara göre; erkeklerde işgücüne katılma oranı 0,3 puanlık artışla yüzde 73,8, kadınlarda ise 0,4 puanlık artışla yüzde 34,7 olarak gerçekleşti.
        Kayıt dışı çalışanların oranı yüzde 34,3 olarak gerçekleşti
        Temmuz 2018 döneminde herhangi bir sosyal güvenlik kuruluşuna bağlı olmadan çalışanların oranı, bir önceki yılın aynı dönemine göre 0,9 puan azalarak yüzde 34,3 olarak gerçekleşti. Tarım dışı sektörde kayıt dışı çalışanların oranı ise bir önceki yılın aynı dönemine göre değişim göstermeyerek yüzde 22,2 oldu.
        Mevsim etkilerinden arındırılmış istihdam azaldı, işsizlik arttı
        Mevsim etkilerinden arındırılmış istihdam bir önceki döneme göre 6 bin kişi azalarak 28 milyon 733 bin kişi olarak tahmin edildi. İstihdam oranı değişim göstermeyerek yüzde 47,4 oldu. Mevsim etkilerinden arındırılmış işsiz sayısı bir önceki döneme göre 53 bin kişi artarak 3 milyon 562 bin kişi olarak gerçekleşti. İşsizlik oranı 0,1 puan artarak yüzde 11 oldu.
        Mevsim etkilerinden arındırılmış işgücüne katılma oranı bir önceki döneme göre değişim göstermeyerek yüzde 53,2 olarak gerçekleşti. Ekonomik faaliyete göre istihdam edilenlerin sayısı, sanayi sektöründe 34 bin, inşaat sektöründe 52 bin kişi azalırken, tarım sektöründe 3 bin, hizmet sektöründe 77 bin kişi arttı.
    </p>
</div>

