﻿
@{
    ViewBag.Title = "IVMDanismanligi";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="container"><h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>


<div class="container">
    <h2><b>İŞ VE MESLEK DANIŞMANLIĞI</b></h2>
</div>
<div class="container" style="font-size:12pt">
    <br /><br /><br />
                <p>
                    <b>İş ve meslek danışmanlığı faaliyeti nedir, bu faaliyet kapsamında hangi çalışmalar yapılmaktadır?</b><br /><br />
                    İş ve meslek danışmanlığı faaliyeti, iş ve meslek seçme aşamasında bulunan, meslek eğitimine başlayacak olan gençlere meslek danışmanlığı boyutunda, ilk kez çalışma hayatına atılacak olanlara, uzun süreli işsizlere, işsizlik sigortası ödeneği alan işsizlere, meslek edinmek, meslek değiştirmek, mesleğinde ilerlemek isteyen yetişkinlere ise iş danışmanlığı boyutunda bireysel ve gruplar halinde görüşmeler yapılarak, onların meslek ve iş seçiminin önemi konusunda bilinçlenmelerine, işyerleri, meslekler ve eğitim olanakları hakkında bilgi sahibi olmalarına ve kendilerini tanımalarına yardımcı olmaktır. Ayrıca iş danışmanlığı kapsamında Kuruma başvuran ve iş arayan işsizlere, mesleki eğitim merkezi, meslek lisesi, meslek yüksek okulu ve üniversite son sınıf öğrencileri ile askerlik görevini tamamlamak üzere olan er ve erbaşlara iş arama, iş bulma ve işi elde tutma, işverenle görüşme, özgeçmiş hazırlama konularında yardımcı olmak üzere iş arama becerileri geliştirme eğitimi verilmektedir. İş ve meslek danışmanlığı hizmetleri tüm İŞKUR İl/Hizmet Merkezimizde verilmektedir.
                    <br /><br /><br /><br /><br />
                    <b> Meslek bilgi merkezi nedir, kimler, nasıl yararlanır?</b></b><br /><br />
                    Meslek Bilgi Merkezi; meslekler ve eğitim yerleri hakkında bilgilerin yer aldığı, meslek ve eğitim yeri seçme aşamasında bulunan kişilerin doğru ve bilinçli karar vermesine yardımcı olan bilgilerin bir arada bulunduğu yerlerdir. Meslek Bilgi Merkezlerinden;

                    <br />- Meslek seçme aşamasında olanlar,
                    <br />- Mesleki eğitim merkezleri ve meslek kurslarında eğitimi verilen meslekler hakkında bilgi edinmek isteyenler,
                    <br /> - Bir meslek sahibi olup da mesleğinde ilerlemek ve meslek değiştirmek isteyen yetişkinler,
                    <br /> - Rehber öğretmenler, okul idarecileri, veliler ile meslekleri ve eğitim olanaklarını tanımak isteyen herkes yararlanabilmektedir.
                    <br /> Meslek Bilgi Merkezine bireysel olarak veya gruplar halinde başvurulur. Rehber öğretmenlerin başvurusu üzerine merkezde grup görüşmeleri düzenlenmekte ve öğrencilere meslek seçiminin önemi, meslek bilgilerinin hangi kaynaklardan elde edilebileceği konusunda ayrıntılı açıklamalar yapılmaktadır.<br /><br />
                    <b>Meslek Bilgi Merkezlerinde ne tür bilgi kaynakları bulunmaktadır?</b> <br />

                    <br /> Meslek Bilgi Merkezlerinde;
                    <br /> - Meslek bilgi dosyaları,
                    <br />  - Genel ve bölgesel eğitim–öğretim bilgi dosyaları,
                    <br />  - Mühendislik, sağlık, adalet, öğretmenlik, turizm, sanat ve spor meslek alanları ile az bilinen meslekleri ve çıraklık mesleklerini tanıtıcı kitapçıklar,
                    <br />  - Üniversite ve yüksekokulları tanıtıcı basılı ve görsel tanıtım materyalleri,
                    <br />  - Meslek Bilgi Merkezi hizmetlerini tanıtıcı afiş, broşür, kitapçık vb. tanıtım araçları bulunmaktadır.<br /><br />

                    <center><a href="#"><img class="img-responsive" src="~/resimler/imd.png" alt="" width="400" height="400" /></a></center>

                    <br /><br />
                    <b>Okullara yönelik eğitici-tanıtıcı çalışmalarınız var mı?</b><br /><br />
                    Kurumun okullara yönelik hizmetleri, meslek bilgi merkezi hizmetleri ile meslek danışmanlığı hizmetleridir. İş ve Meslek Danışmanları okulları ziyaret ederek, okul idarecileri ve rehber öğretmenlerle görüşme yaparak meslek danışmanlığı hizmetleri hakkında bilgiler vermekte, öğrencilerin bu hizmetlerden yararlanabilmeleri için işbirliği yapılması konusunda görüşmeler yapmaktadır. Tanıtım çalışmaları Kurumumuzca hazırlanan afiş ve broşürlerle de desteklenmektedir.

                    Öğrencilerin meslekler ve eğitim yerleri hakkında bilgilenebilmeleri için meslek bilgi merkezleri kurulmuş, bu merkezlerde bulunan bilgi kaynaklarından ücretsiz yararlanmaları sağlanmıştır. Ayrıca okullarda görev yapan rehber öğretmenlere meslekleri tanıtıcı basılı dokümanlar, meslek bilgi merkezi ile iş ve meslek danışmanlığı hizmetlerini tanıtıcı afiş, broşür, kitapçık gibi hizmeti tanıtıcı materyaller verilerek öğrencilerin bilgilenmeleri ve Kurumumuza yönlendirilmeleri sağlanmaktadır.

                    Meslek seçimi aşamasına gelmiş bireylere danışmanlık hizmeti sunulurken bireyin kendini tanımasına, meslekler ve eğitim yerlerini tanımasına ve sonuçta bireyin kendi özellikleriyle mesleklerin gerektirdiği nitelik ve şartları karşılaştırarak seçeneklerini oluşturup bu yolla karar vermesine yardım edilir.

                    Tüm seçenekleri inceleyip değerlendiren birey, artık seçmiş olduğu meslekte bilgi, beceri ve alışkanlıklarını edinebileceği bir eğitim yerine veya bir işyerine yönelir. Tüm bunlar meslek seçimi aşamasında bulunanların tek başlarına yapabilecekleri bir çalışma değildir. Bireylerin meslek seçme kararlarının tesadüflere bırakılmaması ve karşılaşılabilecek tüm alternatiflerin değerlendirilebilmesi için daha önce bahsedilen tüm aşamalarda sırasıyla iş ve meslek danışmanlığı hizmetleri içinde bireylere yardım edilmektedir.

                    Kişilerin özelliklerini tanımlanmasına yardımcı olmak amacıyla danışmanlık hizmetleri kapsamında bazı ölçme ve değerlendirme araçlarından yararlanılmaktadır. Kurumumuzca söz konusu hizmeti destekleyici bir araç olarak Mesleki Yönelim Bataryası kullanılmaktadır.

                    Mesleki Yönelim Bataryasını uygulama amacı, kişilerin ilgilerini, yönelimlerini, becerilerini fark ederek geliştirmelerini desteklemek ve böylece mesleki alternatiflerini görerek tercihlerini netleştirmelerine yardımcı olmaktır. Bu araç, bireylerin farklı meslekleri ve kendi kişisel özelliklerini tanımaları ve kendileri için en uygun mesleği bulabilmelerini hedeflemektedir. Kişiler, Kuruma gelerek bu ölçme aracını uygulayabilir ve sonuçlarını Kurum iş ve meslek danışmanlarıyla değerlendirebilirler.

                    İş ve meslek danışmanlığı hizmetleri çerçevesinde meslek seçimi aşamasındaki bireylere, hangi mesleğe uygun oldukları mı söyleniyor?
                    Meslek seçimi aşamasındaki bireylere hangi mesleğe uygun olduğu söylenmez. Meslek seçimi kararı bireye aittir. Bu ilke, özellikle üzerinde durulan önemli bir noktadır. Bireylerin, bireysel danışmanlık aşamasında, görüşme yoluyla kendilerini tanımalarına yardımcı olunur. Okuldaki başarıları, boş zaman etkinlikleri, sosyo–kültürel durumları, fiziksel durumları, ders çalışma alışkanlıkları, sosyal tutumları ve benzeri durumlardan hareketle kendilerini tanımalarına yardımcı olunur. Bilgi eksikliğini gidererek bilgilendirme yardımı sunulur. Edindiği bilgileri değerlendirmesine ve meslek seçiminde bir karara ulaşmasına yardımcı olunur. Zaten birey danışmanlık sürecinde, meslek seçiminin önemi konusunda bilinçlenir, kendi seçimi ve kararını verme aşamasına kendiliğinden gelmiş olur.
                </p> </div>