﻿
@{
    ViewBag.Title = "Organizasyonlar";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="container"><h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>


<center><h2>ORGANİZASYONLAR</h2></center>

<center><a href="#"><img class="img-responsive" src="~/resimler/organızasyonlar.png" alt="" width="1200" height="1200" /></a></center>