﻿
@{
    ViewBag.Title = "YurtdisiI";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>
<div class="container"> <h1></h1></div>

<div class="container" style="font-size:12pt">

    <center><h1>YURTDIŞI İSTİHDAM HİZMETLERİ İLE İLGİLİ HİZMET VE İŞLEMLER</h1></center>
    <p>
        Türk ve yabancı firmaların yurtdışındaki işlerinde çalıştırmak amacıyla verdikleri işgücü istemlerinin karşılanmasını; yurtdışında çalışmak için başvuran iş arayanların işlemlerinin yerine getirilmesini; firmaların işgücü ihtiyaçlarını karşılayabilmeleri için ilan izninin verilmesini; özel istihdam bürolarının yurtdışı istihdam hizmetlerinin düzenlemesine ilişkin işlemlerini; yurtdışı hizmet akitlerinin düzenlenmesi ve onaylanmasını; işçi ve işçi ailelerinin pasaport işlemlerini kapsamaktadır.
    </p>
    <center><a href="#"><img class="img-responsive" src="~/resimler/yurdisiistihdam.png" alt="" width="650" height="650" /></a></center>

    <h3>1 - Yurtdışı Hizmetleri İle İlgili Esaslar</h3>

    <ul>
        <li>
            Yurtdışı ile ilgili iş ve işlemler aksine bir hüküm olmadıkça il  müdürlükleri/hizmet merkezlerince yerine getirilir.
        </li>
        <li>
            Yurtdışı iş arayan kayıt, işgücü istemleri, seçme, davet ve gönderme hizmetleri aksine bir hüküm olmadığı sürece İşlemler El Kitabı'nın yurt içi işlemleri ile ilgili kısımlarına göre yapılır.
        </li>
        <li>
            Firmaların, il müdürlükleri/hizmet merkezleri ya da özel istihdam büroları kanalıyla veya kendilerinin doğrudan temin ettikleri işçilerle veya tayin ettikleri vekil arasında örneği Kurumca hazırlanan yurtdışı hizmet akdinin imzalanması ve il müdürlüklerine/hizmet merkezlerine onaylattırılması zorunludur.
        </li>
        <li>
            Türk firmaları hizmet akitleri onaylanmadan önce işçilerin sosyal güvenliklerinin sağlandığına ilişkin belgeyi il/şube müdürlüklerine ibraz etmek zorundadır.
        </li>
        <li>
            Kuruma intikal eden yurtdışı işgücü istemlerinin karşılanabilmesi için il müdürlükleri/hizmet merkezleri mevzuatta belirtilen usul ve esaslara aykırı olmamak kaydıyla gerekli tedbirleri almak konusunda yetkilidir.
        </li>
        <li>
            İl müdürlüklerine/hizmet merkezlerine işlem yaptırmak üzere başvuran her firma için dosya açılır.
        </li>
    </ul>

    <h3>2 - Yurtdışı İşgücü İstemleri</h3>

    <p>Firmalar, yurtdışı iş gücü istemlerini Kurum kayıtlarından karşılamak veya yurtdışından aldıkları işlere kendi işçilerini götürmek ve sözleşmelerini onaylatmak için doğrudan il müdürlüklerine7hizmet merkezlerine başvururlar.</p>

    <h5>Firmaların İbraz Edecekleri Belgeler</h5>

    <p>İşgücü isteminin karşılanması ya da ilan izni için firmaların aşağıda belirtilen belgeleri il/şube müdürlüklerine ibraz etmeleri gerekmektedir.</p>

    <h5>Türk Firmalarından İstenilecek Belgeler</h5>

    <ul>
        <li>
            Türkiye Ticaret Sicil Gazetesi örneği (bir defaya mahsus olmak üzere)
        </li>
        <li>
            Taahhüt işleri için işin alındığı ülkedeki dış temsilciliğimizce ya da ülkemizdeki yetkili kamu kurumundan alınacak yazı veya İş Alındı Belgesi.
        </li>
        <li>
            Taahhüt işleri dışındaki işler için işyerinde çalıştırılacak işçi sayısını belirten dış temsilciliğimizden alınacak yazı veya Uygun Görüş Belgesinin aslı veya dış temsilciliğimizce gönderilen faks.
        </li>
        <li>
            Yurtdışında yapı, tesis, bakım, onarım işleri; sınaî ve teknolojik imalât, tesisat ve montaj işleri; işletme, yönetim, bakım ve idame işleri; proje, mühendislik, müşavirlik işleri yapacak olan firmalardan; Bayındırlık ve İskân Bakanlığından alınan Yurt Dışı Müteahhitlik Belgesi veya Yurt Dışı Geçici Müteahhitlik Belgesi (Genel Müdürlükçe belirlenen ülkelerden Irak için bu belge istenmez.)
        </li>
        <li>
            Firmaların yürürlükte bulunan sosyal güvenlik mevzuatı hükümleri gereğince işçilerin sosyal güvenliğini sağladığına ilişkin belge.
        </li>
        <li>
            Firma yetkililerinin noterce onaylanmış imza sirküleri, işlemlerin vekil aracılığıyla yapılacağı hallerde vekaletname veya yetki belgesinin aslı ya da aslı görüldükten sonra Kurum tarafından onaylanacak örneği (bir defaya mahsus olmak üzere).
        </li>
        <li>
            İsrail İş ve İşçi Bulma Başmüdürlüğünce düzenlenen ve İçişleri Bakanlığınca onaylanan Yabancı İşçi Getirme İzni- Şerut Ha Taasuka (Sadece İsrail'de iş alan firmalardan)
        </li>
    </ul>


    <h5>Yabancı Uyruklu Firmalardan İstenilecek Belgeler</h5>

    <ul>
        <li>
            Firmanın kuruluşuna dair belgenin dış temsilciliklerimizce onaylı örneği veya yeminli tercüme bürolarınca yapılmış Türkçe çevirisi (bir defaya mahsus olmak üzere)
        </li>
        <li>
            Taahhüt işleri için işin alındığı ülkedeki dış temsilciliğimizce ya da ülkemizdeki yetkili Kamu Kurumundan alınacak yazı veya İş Alındı Belgesi ile taahhüt işleri dışındaki işler için işyerinde çalıştırılacak işçi sayısını belirten dış temsilciliğimizden alınacak yazı veya Uygun Görüş Belgesinin aslı veya dış temsilciliğimizce gönderilen faksı
        </li>
        <li>
            İsrail Müteahhitler ve İnşaatçılar Birliğince düzenlenen Müteahhit Çalışma Ruhsatı (Sadece İsrail'de iş alan firmalardan)
        </li>
        <li>
            İsrail firmasınca düzenlenen ve Türkiye'den işçi getirme konusunda verilen Vekaletname- İpuy Koah (Sadece İsrail'de iş alan firmalardan)
        </li>
    </ul>

    <h5>Yabancı Uyruklu Firmalardan İstenilecek Belgeler</h5>
    <p>
        İl müdürlüklerince Türk Firmalarından İstenecek belgeler (Sosyal güvenliğin sağladığına ilişkin belge hariç) ve Yabancı Uyruklu Firmalardan İstenecek belgeler ve yayımlanacak ilan metnini ibraz etmiş firmalara işgücü istemlerini gazete, internet veya benzeri araçlarla karşılayabilmeleri için ilan izni verilir. Ancak yapılacak ilanda iznin hangi il müdürlüğünden/hizmet merkezinden alındığı ve verilen iznin tarih ve sayısı belirtilir.
    </p>
    <p>
        Diğer taraftan, yurtdışından alınan iş ile ilgili henüz anlaşma imzalanmamış olması halinde, söz konusu işin alındığına ilişkin herhangi bir belgenin (işi alan ile işi yaptıracak firma arasındaki yazışma vb.) il müdürlüğüne/hizmet merkezine ibraz edilmesi halinde gerekli değerlendirmeler il müdürünce /hizmet merkezince yapılarak, alınan işle ilgili ön hazırlık yapılması amacıyla yönetici konumunda eleman temini için ilan izni verilebilir.
    </p>
    <p>
        Firmaların yayımlayacakları ilanın bir örneği ile il müdürlüklerine/hizmet merkezlerine başvurmaları; ayrıca, ilan yabancı dilde yayımlanacak ise Türkçe metninin de başvuru esnasında verilmesi gerekir.
    </p>
    <p>
        Verilecek ilan izninin süresi alınan işin süresinden fazla olamaz. Aynı işle ilgili olmak ve alınan izindeki metin ile aynı olmak şartı ile izin süresince birden fazla ilan verilebilir.
    </p>
    <p>
        Yayımlanan ilan metni ile firmaların il müdürlüklerine/hizmet merkezlerine  verdikleri ilan metni arasında farklılıklar olması halinde, firmadan, il müdürlüklerine/hizmet merkezlerine verilen metne uygun olarak ilanın yeniden yayımlatılması istenir ve tekrarı halinde bir daha ilan için izin verilmez.
    </p>

</div>

