﻿@model WebTasarimOdevi.Models.Kullanicilar
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style>

        .butons {
            background-color: #751570;
            font-size: 16px;
            padding: 12px 28px;
            border-radius: 12px;
        }

        #login-div {
            background-color: #b584b4;
            position: absolute;
            left: 10%;
            right: 10%;
            top: 10%;
            border: 3px dashed #89158a;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>

</head>
<body background="~/resimler/arkaplan2jpg.jpg">
    <div id="login-div">
        @using (Html.BeginForm("Kullanicilar", "GirisSayfasi", FormMethod.Post))
        {
            <table>
                <tr>
                    <td> </td>
                    <td style="text-decoration:underline">LÜtfen Bilgilerinizi giriniz</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.KullaniciAdi)
                    </td>
                    <td>
                        @Html.EditorFor(model => Model.KullaniciAdi)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ValidationMessageFor(model => model.KullaniciAdi)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Şifre)</td>
                    <td>@Html.EditorFor(model => model.Şifre)</td>
                </tr>
                <tr>
                    <td>
                        @Html.ValidationMessageFor(model => model.Şifre)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.GirisEkraniHataMesaji)  </label>

                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="butons" type="submit" name="name" value="GİRİŞ YAP" />


                    </td>
                </tr>
            </table>
        }
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
</body>
</html>
